.content{
  margin: 0 auto;
  width: 200px;
  height: 150px;
  white-space: nowrap;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Chrome, Safari */
.content::-webkit-scrollbar { 
  display:none;
}